db.sqlite3
media/
__pycache__/

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

*.pyc~
*.pyo~
*.pyd~
*.pyw~
*.pyz~

.DS_Store

.env

.env.local

.venv/

node_modules/

static/css/output.css
example.html

staticfiles/